In [1]:
import pandas as pd 
import numpy as  np 
from matplotlib import pyplot as plt 
import seaborn as sns

In [90]:
data = pd.read_csv('result/res_data_all.csv' , index_col=0)
display(data.head(2))
info_cols = ['true_class' , 'src_n' , 'src_id' , 'th_class' , 'is_ok' , 'truth' , 'pred_class' , 'pred_prob' , 'clf_type']
data_val = data.drop(columns=info_cols)
data_info = data[info_cols]
display(data_val.head(2))
display(data_info.head(2))

,src_id,src_n,true_class,pred_class,pred_prob,th_class,is_ok,truth,clf_type,photflux_aper_u,...,hard_hm_hilim,flux_aper_lolim_m,flux_aper_lolim,hard_hm,hard_ms,bb_nh,powlaw_ampl_hilim,powlaw_ampl,powlaw_gamma_hilim,flux_aper_lolim_b
index,,,,,,,,,,,,,,,,,,,,,
0,NS0078,1WGA J1911.2+0035,NS,NS,0.996667,NS,1,1,train,0.471649,...,0.229021,0.872295,0.863954,0.241245,0.459376,0.028171,0.048141,0.006328,0.577559,0.848359
1,NS0044,XMMU J004245.2+41172,NS,NS,0.990000,NS,1,1,train,0.561798,...,0.531469,0.650252,0.698999,0.430008,0.455023,0.961874,0.111069,1.039073,0.390612,0.659174

,photflux_aper_u,photflux_aper_hilim_u,flux_aper_u,flux_aper_lolim_u,var_sigma,var_max,photflux_aper_lolim_u,flux_powlaw_hilim,bb_stat,flux_powlaw_lolim,...,hard_hm_hilim,flux_aper_lolim_m,flux_aper_lolim,hard_hm,hard_ms,bb_nh,powlaw_ampl_hilim,powlaw_ampl,powlaw_gamma_hilim,flux_aper_lolim_b
index,,,,,,,,,,,,,,,,,,,,,
0,0.471649,0.504622,0.495118,0.580407,0.000541,0.026444,0.604776,0.192335,0.136228,0.184897,...,0.229021,0.872295,0.863954,0.241245,0.459376,0.028171,0.048141,0.006328,0.577559,0.848359
1,0.561798,0.523690,0.514792,0.463757,0.003450,0.004160,0.474389,0.054722,0.007995,0.056451,...,0.531469,0.650252,0.698999,0.430008,0.455023,0.961874,0.111069,1.039073,0.390612,0.659174

,true_class,src_n,src_id,th_class,is_ok,truth,pred_class,pred_prob,clf_type
index,,,,,,,,,
0,NS,1WGA J1911.2+0035,NS0078,NS,1,1,NS,0.996667,train
1,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.990000,train

In [91]:
from sklearn.decomposition import PCA

In [109]:
red_data =  PCA(n_components=2 , copy=True , whiten=False).fit_transform(data_val)
red_data = np.asarray(red_data)
red_data = pd.DataFrame(red_data , columns=np.arange(red_data.shape[1])).reset_index(drop=True) 
display(red_data)

            0         1
0    3.702008  1.396737
1    0.619496 -0.635341
2   -0.799634  0.816245
3   -1.156832 -0.821637
4    0.477434 -0.020327
..        ...       ...
455 -1.086661 -1.077691
456 -0.820860 -1.376472
457  0.490158 -0.429928
458  0.632555 -1.022429
459  0.003164 -0.748655

[460 rows x 2 columns]

In [110]:
data_info = data_info.reset_index(drop=True) 
display(data_info)

,true_class,src_n,src_id,th_class,is_ok,truth,pred_class,pred_prob,clf_type
0,NS,1WGA J1911.2+0035,NS0078,NS,1,1,NS,0.996667,train
1,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.990000,train
2,NS,SAXWFC J1748.1-2446.,NS0071,NS,1,1,NS,0.986667,train
3,BH,J1745-2900,BH0027,BH,1,1,BH,0.920000,train
4,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.976667,train
...,...,...,...,...,...,...,...,...,...
455,NS,SAXWFC J1748.1-2446.,NS0072,X,1,2,NS,0.603333,test
456,NS,SAXWFC J1740.7-2818.,NS0067,NS,1,1,NS,0.890000,test
457,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.970000,test
458,BH,CXOU J100515.4-07425,BH0019,BH,1,1,BH,0.973333,test
459,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.990000,test

In [111]:
pca_data = pd.concat([data_info , red_data] , axis=1)
display(pca_data)

,true_class,src_n,src_id,th_class,is_ok,truth,pred_class,pred_prob,clf_type,0,1
0,NS,1WGA J1911.2+0035,NS0078,NS,1,1,NS,0.996667,train,3.702008,1.396737
1,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.990000,train,0.619496,-0.635341
2,NS,SAXWFC J1748.1-2446.,NS0071,NS,1,1,NS,0.986667,train,-0.799634,0.816245
3,BH,J1745-2900,BH0027,BH,1,1,BH,0.920000,train,-1.156832,-0.821637
4,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.976667,train,0.477434,-0.020327
...,...,...,...,...,...,...,...,...,...,...,...
455,NS,SAXWFC J1748.1-2446.,NS0072,X,1,2,NS,0.603333,test,-1.086661,-1.077691
456,NS,SAXWFC J1740.7-2818.,NS0067,NS,1,1,NS,0.890000,test,-0.820860,-1.376472
457,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.970000,test,0.490158,-0.429928
458,BH,CXOU J100515.4-07425,BH0019,BH,1,1,BH,0.973333,test,0.632555,-1.022429
459,NS,XMMU J004245.2+41172,NS0044,NS,1,1,NS,0.990000,test,0.003164,-0.748655

In [119]:
sns.set_style('whitegrid')
sns.set_theme('paper')
sns.set_palette('dark')
plt.style.use('seaborn-dark-palette')
#selectes_src = ['NS0001' , 'NS0078' , 'NS0076' , 'BH0018' , 'BH0019' , 'NS0020']
feat_names = np.arange(red_data.shape[1])
sns.pairplot(
    #data = pca_data[pca_data['src_id'].isin(selectes_src)], 
    data = pca_data ,  
    x_vars=feat_names, 
    y_vars = feat_names , 
    kind='scatter' ,  
    hue='truth', 
    height=4 , aspect=8/6 , 
    plot_kws=dict(marker="+", linewidth=1),
    palette='dark'
)
plt.show()